@font-face{
	font-family: customfont;
	src: url('../fonts/sharnayextralight-webfont.woff') format('woff');
	src: url('../fonts/sharnayextralight-webfont.ttf') format('truetype');
	src: url('../fonts/sharnayextralight-webfont.woff') format('woff');
	src: url('../fonts/sharnayextralight-webfont.svg') format('svg');
	}

div.container{
	position: relative;
	background-color: white;
	left: 5%;
	right: 5%;
	top: 50px;
	width: 90%;
	height: 720px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 30px rgba(0,0,0,.15);
	}

header{
	position: relative;
	background-image: url(../images/TopBannerBG.png);
	height: 52px;
	top: 50px;
	left: 5%;
	width: 90%;
	right: 5%;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px -7px 20px rgba(0,0,0,.10);
	}

div.banner{
	position: relative;
	background-image: url(../images/TopBannerBG.png);
	height: 52px;
	left: 0%;
	right: 0%;
	border-radius: 10px 10px 0px 0px;
	}

img.logo{
	padding-top: 10px;
	padding-left: 10px;
	}

footer{
	position: relative;
	background-image: url(../images/BottomBannerBG.png);
	top: 38px;
	height: 23px;
	left: 5%;
	width: 90%;
	right: 5%;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 7px 20px rgba(0,0,0,.25);
	}

p.footertext{
	position: relative;
	text-align: center;	
	padding-top: 5px;
	color: white;
	font-family: customfont;
	font-size: 9pt;
	}

nav.vertical_nav{
	position: relative;
	background-color: white;	
	width: 25%;
	float: left;
	height: 648px;
	line-height: 30px;
	}

button.navbutton{
	   font-family: customfont;
	   background-color: white;
	   border-style: none;
	   color: gray;
	   font-size: 15px;
	   line-height: 20px;
	}

div.main_content{
	position: relative;
	background-color: white;
	top: 50px;
	height: 648px;
	width: 75%;
	left: 5%;
	width: 90%;
	right: 5%;
	font-family: customfont;
	box-shadow: 0px 0px 20px rgba(0,0,0,.75);
	}

div.splash_image{
	background-image: url(../images/Front-Page-Content.jpg);
	position: relative;
	background-repeat: no-repeat;
	margin: 0px;
	left: 25%;
	height: 580px;
	width: 70%;
	top: 20px;
	}

div.icon{
	position: relative;
	float: right;
	z-index: 1;
	width: 58px;
	margin-bottom: 
	}