@font-face{
	font-family: customfont;
	src: url('../fonts/sharnayextralight-webfont.woff') format('woff');
	src: url('../fonts/sharnayextralight-webfont.ttf') format('truetype');
	src: url('../fonts/sharnayextralight-webfont.woff') format('woff');
	src: url('../fonts/sharnayextralight-webfont.svg') format('svg');
	}

div.container{
	position: relative;
	background-color: white;
	left: 5%;
	right: 5%;
	top: 40px;
	width: 90%;
	height: 720px;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0px 0px 30px rgba(0,0,0,.10);
	}

header{
	position: relative;
	background-image: url(../images/TopBannerBG.png);
	height: 52px;
	top: 50px;
	left: 5%;
	width: 90%;
	right: 5%;
	border-radius: 10px 10px 0px 0px;
	box-shadow: 0px -7px 20px rgba(0,0,0,.15);
	}

div.banner{
	position: relative;
	background-image: url(../images/TopBannerBG.png);
	height: 52px;
	left: 0%;
	right: 0%;
	border-radius: 10px 10px 0px 0px;
	}

img.logo{
	padding-top: 10px;
	padding-left: 10px;
	}

div.footer{
	position: relative;
	background-image: url(../images/BottomBannerBG.png);
	float: bottom;
	top: 38px;
	height: 23px;
	margin-top: 28px;
	border-radius: 0px 0px 10px 10px;
	}

p.footertext{
	position: relative;
	text-align: center;	
	padding-top: 8px;
	color: white;
	font-family: customfont;
	font-size: 9pt;
	}

div.vertical_nav{
	position: relative;
	background-color: white;	
	width: 25%;
	float: left;
	line-height: 35px;
	}

.vertical_nav ul{
	list-style-type: none;
	}

div.main_content{
	position: relative;
	background-color: gray;
	float: left;
	width: 80%;
	}

div.splash_image{
	background-image: url(../images/Front-Page-Content.jpg);
	position: relative;
	background-repeat: no-repeat;
	margin: 0px;
	left: 25%;
	height: 580px;
	width: 70%;
	top: 20px;
	}

div.gallery_image{
	background-image: url(../images/Gallery-Content.jpg);
	position: relative;
	background-repeat: no-repeat;
	margin: 0px;
	left: 25%;
	height: 580px;
	width: 70%;
	top: 20px;
	}

div.aboutme_image{
	background-image: url(../images/About-Page-Content.jpg);
	position: relative;
	background-repeat: no-repeat;
	margin: 0px;
	left: 25%;
	height: 580px;
	width: 70%;
	top: 20px;
	}

div.icon{
	position: relative;
	float: right;
	right: 2.5%;
	z-index: 2;
	width: 58px;
	top: -330px;
	}

.fade {
  	/* opacity: 1;*/
	   transition: color .25s ease-in-out;
	   -moz-transition: color .25s ease-in-out;
	   -webkit-transition: color .25s ease-in-out;
	   font-family: customfont;
		background-color: white;
		border-style: none;
		color: gray;
		font-size: 15px;
		line-height: 20px;
		color: gray;
		font-size: 16px;
	    }

.fade:hover {
/*      opacity: 0.5;
*/      color: orange;
      	}