@font-face{
	font-family: customfont;
	src: url('../fonts/sharnayextralight-webfont.woff') format('woff');
	src: url('../fonts/sharnayextralight-webfont.ttf') format('truetype');
	src: url('../fonts/sharnayextralight-webfont.woff') format('woff');
	src: url('../fonts/sharnayextralight-webfont.svg') format('svg');
	}

div.nutellajar{
	background-color: gray;
	position: relative;
	height: 480px;
	width: 320px;
}

input.screen{
	position: relative;

}